<section id="fh5co-home" data-section='profile-user' style="background: url(&quot; https://cdn.pixabay.com/photo/2019/06/16/19/10/wheat-4278543_1280.jpg &quot;) 0px 0px / cover; background-attachment: fixed; height: 230px;" data-stellar-background-ratio="0.5">
  <div class="text-inner">
    <div class="row text-center">
      <div class="col-md-8 offset-md-2">
        <h1 class="to-animate">
          <% if !@user.first_name.nil? || !@user.last_name.nil? %>
            <%= @user.first_name.capitalize %> <%= @user.last_name.upcase %>
          <% end %>
        </h1>
      </div>
    </div>
  </div>
  <div class="slant"></div>
</section>

<section id="fh5co-work" class='pt-5'>
  <div class='container'>

    <div class="row mt-5">
      <div class="col-md-5 d-flex flex-column justify-content-around align-items-center text-center to-animate py-3" style='height: 302px;'>
        <% if @user.avatar_user.attached? %>
          <div class="rounded-circle" style="height: 200px; width: 200px; background: center / cover url('<%= polymorphic_url(@user.avatar_user) %>'); border: solid 3px #A9ADB0;"></div>
        <% else %>
          <div class="rounded-circle" style="height: 200px; width: 200px; background: url('<%= asset_path("no_avatar.png") %>'); background-position: 50% 20%; background-size: 80%; border: solid 2px #A9ADB0;"></div>
        <% end %>
        <% if user_signed_in? %>
          <div class='show-form text-left mx-3'>
            <%= form_with model: @user, local: true do |form| %>
              <div class='input-group'>
                <div class="input-group-prepend">
                  <%= form.submit "Ajouter", class:'btn btn-primary' %>
                </div>
                <div class="custom-file">
                  <%= form.file_field :avatar_user, id: 'avatar_user', accept: 'image/png, image/jpeg, image/gif', class:'custom-file-input' %>
                  <%= form.label :avatar_user, "Choisir", class: 'custom-file-label' %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 d-flex flex-column justify-content-around" style='height: 302px;'>
        <div class="fh5co-contact-info to-animate mx-3 my-3" id='user-producer-information'>
          <table class="table table-borderless table-responsive text-white text-left">
            <tbody>
              <tr>
                <td scope="col" style="width: 30%; overflow: hidden;"><i class="fas fa-address-card ml-2"></i></td>
                <td scope="col" style="width: 100%; overflow: hidden;">
                  <% if @user.first_name.nil? || @user.last_name.nil? %>
                    <em>Non enregistré</em>
                  <% else %>
                    <%= @user.first_name.capitalize %> <%= @user.last_name.upcase %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-phone-alt ml-2"></i></td>
                <td>
                  <% if @user.phone_number.nil? || @user.phone_number == "" %>
                    <span class='font-italic'>Non enregistré</span>
                  <% else %>
                    <%= @user.phone_number %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td><i class="fas fa-at ml-2"></i></td>
                <td><a href="mailto:<%= @user.email%>"><%= @user.email%></td>
              </tr>
            </tbody>
          </table>
        </div>

        <% if current_user == @user %>
          <div id="information-editing" class="mx-3 mt-3">
            <%= link_to "Modifier mes identifiants", edit_user_registration_path, class: "btn btn-primary btn-lg w-100 my-2" %>
            <%= link_to "Éditer mes informations", edit_user_path(current_user), class: "btn btn-primary btn-lg w-100 my-2" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container px-0 my-5">
      <div class="text-center">
        <hr class='my-5 style-one'>
        <h2 class="text-white">Mes producteurs favoris !</h2>
      </div>
      <div class="col fh5co-contact-info">
        <table class="table text-light text-center table-hover table-borderless table-responsive">
          <thead>
            <tr class="border-bottom">
              <th scope="col" style="width: 20%; overflow: hidden;">Nom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Prénom</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Téléphone</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Email</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Profil</th>
              <th scope="col" style="width: 20%; overflow: hidden;">Retirer</th>
            </tr>
          </thead>
          <tbody>
          <% @user.favorites.each do |producer| %>
            <tr>
              <td class="py-2"><%= link_to producer.last_name, producer_path(producer.id) %></td>
              <td class="py-2"><%= link_to producer.first_name, producer_path(producer.id) %></td>
              <td class="py-2"><%= tel_to producer.phone_number, producer.phone_number %></td>
              <td class="py-2"><%= mail_to producer.email, producer.email %> </a></td>
              <td class="py-2"><%= link_to "Voir", producer_path(producer.id) %></td>
              <td class="py-2">
                <%= link_to favorite_producer_path(producer, type: "unfavorite-from-user-profile"), method: :put do %>
                  <span style="color: red;"><i class="fas fa-trash"></i></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</section>
